
@{
	ViewData["Title"] = "Transaction";

}

<h1>Transaction for @ViewBag.CurrencyType.name</h1>

<div>
    <a asp-action="Index">Back</a>
</div>

<body>
	
	<form name="form"  method="post" id="form_message">
		<p> <div class="titles">Cумма</div> <input class="input" name="sum" type="text" id = "sum" value =1000> </p>
		
   
		<p><input id="submit" value="Подтвердить" type="submit"  /></p>
	</form>
</body>